name: cloud environments configuration
description: cloud environments configuration

{% if gitlab_public_instances|length > 0 %}
gitlab_public_instances:
{% for p_instance in gitlab_public_instances %}
  - {{ p_instance }}
{% endfor %}
{% endif %}

adapters:
  emails: {{ cloud_email_adapter }}

{% if providers|length > 0 %}
providers: 
{% for provider in providers %}
  - name: {{provider["name"]}}
    driver: {{provider["driver"]}}
{% if provider["regions"]|length > 0 %}
    regions:
{% for region in provider["regions"] %}
     - name: {{region["name"]}} 
       zones: {{region["zones"]}}
{% endfor %}
{% else %}
    regions: []
{% endif %}
    instance_types: {{provider["instance_types"]}}
    bucket_types: {{provider["bucket_types"]}}
    bucket_available_regions: {{provider["bucket_available_regions"]}}
    registry_types: {{provider["registry_types"]}}
    registry_available_regions: {{provider["registry_available_regions"]}}
    driver: {{provider["driver"]}}
{% if provider["instance_configs"]|length > 0 %}
    instance_configs:
{% for instance_config in provider["instance_configs"] %}
     - region: {{instance_config["region"]}}
{% if instance_config["zones"]|length > 0 %}
       zones:
{% for zone in instance_config["zones"] %}
          - name: {{zone["name"]}}
            {% if "subnet" in zone and zone["subnet"]|length > 0 %}
            subnet: {{zone["subnet"]}}
            {% endif %}
            {% if "sg" in zone and zone["sg"]|length > 0 %}
            sg: {{zone["sg"]}}
            {% endif %}

{% if zone["instance_types"]|length > 0 %}
            instance_types:
{% for instance_type in zone["instance_types"] %}
            - type: {{instance_type["type"]}}
              core: {{instance_type["core"]}}
              ram: {{instance_type["ram"]}}
              disk: {{instance_type["disk"]}}
              bandwidth: {{instance_type["bandwidth"]}}
              localstorage: {{instance_type["localstorage"]}}
              price_variable: {{instance_type["price_variable"]}}
{% endfor %}
{% else %}
            instance_types: []
{% endif %}
{% endfor %}
{% else %}
       zones: []
{% endif %}

{% endfor %}
{% else %}
    instance_configs: []
{% endif %}
{% endfor %}
{% else %}
providers: []
{% endif %}

{% if dns_zones|length > 0 %}
dns_zones: 
{% for zone in dns_zones %}
  - name: {{ zone["name"] }}
    driver: {{ zone["driver"] }}
{% endfor %}
{% else %}
dns_zones: []
{% endif %}

{% if images|length > 0 %}
images: 
{% for image in images %}
{%- for key,value in image.items() %}
   - {{key}}: {{value}}
{%- endfor %}

{% endfor %}
{% else %}
images: []
{% endif %}
