version: '3.3'
services:
  comwork_cloud_ui:
    restart: always
    container_name: comwork_cloud_ui

{% if web_app_image_tag is defined %}
    image: {{ container_registry.url }}/cwloud-ui:{{ web_app_image_tag }}
{% else %}
    image: {{ container_registry.url }}/cwloud-ui:{{ api_image_tag }}
{% endif %}

    env_file: 
      - .env.webapp
    networks:
      - cloud_ui
    ports:
      - "5301:80"

  comwork_cloud_api:
    restart: always
    container_name: comwork_cloud_api
    image: {{ container_registry.url }}/cwcloud-api:{{ api_image_tag }}
    volumes:
      - /{{node_home}}/cloud_environments.yml:/app/cloud_environments.yml:ro
    networks:
      - cloud_api
    env_file: 
      - .env.api
    ports:
      - "5000:5000"

{% if cloud_faas_enabled is defined and cloud_faas_enabled %}
  comwork_cloud_consumer:
    restart: always

{% if consumer_image_tag is defined %}
    image: {{ container_registry.url }}/cwcloud-consumer:{{ consumer_image_tag }}
{% else %}
    image: {{ container_registry.url }}/cwcloud-consumer:{{ api_image_tag }}
{% endif %}

    volumes:
      - /{{node_home}}/cloud_environments.yml:/app/cloud_environments.yml:ro
    env_file:
      - .env.api
    networks:
      - cloud_api
    deploy:
      mode: replicated
      replicas: {{ cloud_faas_consumer_replicas }}

  comwork_cloud_scheduler:
    restart: always

{% if scheduler_image_tag is defined %}
    image: {{ container_registry.url }}/cwcloud-scheduler:{{ scheduler_image_tag }}
{% else %}
    image: {{ container_registry.url }}/cwcloud-scheduler:{{ api_image_tag }}
{% endif %}

    container_name: comwork_cloud_scheduler
    volumes:
      - /{{node_home}}/cloud_environments.yml:/app/cloud_environments.yml:ro
    env_file:
      - .env.api
    networks:
      - cloud_api
{% endif %}

  comwork_cloud_cache:
    image: redis:6.2.6
    restart: always
    container_name: comwork_cloud_cache
    networks:
      - cloud_api
    ports:
      - "5444:6379"

networks:
  cloud_api:
    driver: bridge
  cloud_ui:
    driver: bridge
